:root {
    --white: #ffffff;
    --light-grey: #e0e0e0;
    --dark-grey: #121212;
    --neon-blue: #00bcd4;
    --neon-green: #76ff03;
    --shadow: rgba(0, 0, 0, 0.2);
}
  
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-color: var(--dark-grey);
    font-family: 'Roboto', sans-serif;
    color: var(--light-grey);
}
  
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
h1 {
    color: var(--light-grey);
    margin: 20px 0 40px 0;
}
  
.todo-app {
    background: linear-gradient(135deg, var(--white), var(--light-grey));
    width: 300px;
    height: 350px;
    border: 1px solid var(--neon-blue);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 20px var(--shadow);
    transition: transform 0.3s;
}
  
.todo-app:hover {
    transform: scale(1.05);
}
  
.btn {
    cursor: pointer;
    width: 100px;
    margin: 0;
    color: var(--white);
    background: linear-gradient(90deg, var(--neon-blue), var(--neon-green));
    border: none;
    border-radius: 25px;
    padding: 10px;
    transition: background 0.3s, transform 0.2s;
}
  
.btn:hover {
    background: linear-gradient(90deg, var(--neon-green), var(--neon-blue));
    transform: translateY(-3px);
}
  
.large-btn {
    width: 80%;
    font-size: 1.2rem;
    align-self: center;
    justify-self: center;
}
  
.close-task-form-btn {
    background: none;
    border: none;
    cursor: pointer;
}
  
.close-icon {
    width: 20px;
    height: 20px;
}
  
.task-form {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 0 8px 20px var(--shadow);
}
  
.task-form-header {
    display: flex;
    justify-content: flex-end;
}
  
.task-form-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  
.task-form-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.task-form-label,
#title-input,
#date-input,
#description-input {
    display: block;
}
  
.task-form-label {
    margin-bottom: 10px;
    font-size: 1.6rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
  
#title-input,
#date-input,
#description-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 2px;
}
  
#confirm-close-dialog {
    background: var(--light-grey);
    border-radius: 15px;
    box-shadow: 0 4px 10px var(--shadow);
}
  
.confirm-close-dialog-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
  
.discard-message-text {
    font-weight: bold;
    font-size: 1.5rem;
}
  
#tasks-container {
    height: 100%;
    overflow-y: auto;
}
  
.task {
    margin: 5px 0;
}
  
.hidden {
    display: none;
}
  
@media (min-width: 576px) {
    .todo-app,
    .task-form {
        width: 400px;
        height: 450px;
    }
  
    .task-form-label {
        font-size: 1.5rem;
    }
  
    #title-input,
    #date-input {
        height: 2rem;
    }
  
    #title-input,
    #date-input,
    #description-input {
        padding: 5px;
        margin-bottom: 20px;
    }
}